.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.whiteblock {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: white;

	&-left {
		bottom: 0;
		left: -20%;
		transform: skew(45deg);
	}

	&-right {
		top: 0;
		right: -20%;
		transform: skew(45deg);
	}
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: $light-white;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.3s;
		z-index: -1;
	}
	&:hover::before {
		transform-origin: left;
		transform: scaleX(1);
	}
}

.section-heading {
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Michroma', sans-serif;
	font-size: 6rem;
	font-weight: 300;
	color: $main-color;
}

.section-padding {
	padding: 5em 2em;
}

@media (max-width: 568px) {
	.section-heading {
		font-size: 3.8rem;
	}
}
