@import './colorsbmth';
@import './componentsbmth';
@import './mixinsbmth';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
}

// NAV
.burger-btn {
	position: fixed;
	top: 30px;
	right: 30px;
	padding: 1em;
	background-color: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 5;

	&:focus {
		outline: none;
		border: 1px solid black;
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::before,
		.burger-btn__bars::after {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 40px;
	}

	&__bars,
	&__bars::before,
	&__bars::after {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;

		&::before {
			width: 60%;
			top: 15px;
		}

		&::after {
			top: 30px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: $dark-gradient-solid;
	transform: translateX(100%);
	transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 2;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		text-decoration: none;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		text-transform: uppercase;
		color: $pure-white;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 3px;
			background-color: $pure-white;
			transform: scaleY(0);
			transition: transform 0.3s;
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}

@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translate(0);
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

// header

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	height: 75vh;
	@include heroImg('../img/bring-me-the-horizon.jpg');
	color: $pure-white;
	background-attachment: scroll;
	overflow: hidden;

	&__title {
		font-size: 2.5em;
		text-transform: uppercase;
		font-family: 'Michroma', sans-serif;
	}

	&__text {
		margin: 1em 0;
		font-size: 2em;
	}

	&__btn {
		margin-top: 1em;
		padding: 0.6em 1.2em;
		background-color: $pure-white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.2em;
		color: $dark;
		cursor: pointer;

		&::before {
			background-color: $light-white;
		}
	}
}

// news

.news {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}

	&__img {
		width: 100%;
		margin-bottom: 1em;
	}

	&__title {
		margin-bottom: 0.5em;
		font-size: 2em;
	}

	&__text {
		font-size: 2rem;
		font-weight: 400;
	}
}

// hero

.tour {
	position: relative;
	padding: 8em 2em;
	@include heroImg('../img/bring-me-the-horizon.jpg');
	text-align: center;
	color: $pure-white;
	overflow: hidden;

	&__heading {
		margin-bottom: 1em;
		font-family: 'Michroma', sans-serif;
		font-size: 2em;
		text-transform: uppercase;
	}

	&__text {
		margin: 1.6em 1em;
		font-size: 2rem;
	}
	&__btn {
		display: block;
		margin: 0 auto;
		margin-bottom: 2em;
		padding: 0.5em 1em;
		max-width: 100px;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.6rem;
		color: $dark;
		border: none;
		background-color: $pure-white;
		cursor: pointer;

		&::before {
			background-color: $light-white;
		}
	}

	hr {
		margin: 0 auto;
		width: 50%;
		color: $pure-white;
	}
}

.album {
	&__box {
		position: relative;
		margin: 2em 0;
		height: 450px;
		text-align: center;
		color: $pure-white;
		perspective: 10000px;

		&:hover {
			.album__box-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.album__box-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			padding: 2em;
			height: 100%;
			background-size: cover;
			background-position: center;
			transition: transform 1s, opacity 1s;

			&--first {
				background-image: url('../img/BMTH_Count_Your_Blessings.png');
			}

			&--second {
				background-image: url('../img/BMTH_Suicide_Season.png');
			}

			&--third {
				background-image: url('../img/Bring-Me-the-Horizon-There-Is-a-Hell-Believe-Me-Ive-Seen-It-There-Is-a-Heaven-Lets-Keep-It-a-Secret-Deluxe-Version.jpg');
			}

			&--fourth {
				background-image: url('../img/BMTH_Sempiternal.png');
			}

			&--fifth {
				background-image: url("../img/That's_the_Spirit.jpeg");
			}

			&--sixth {
				background-image: url('../img/AmoBringMetheHorizon.png');
			}
			&--seventh {
				background-image: url('../img/Post_Human_NeX_GEn.png');
			}

			&-title {
				@include albumStyle;
				top: 0;
				width: 100%;
				padding: 1em;
				font-size: 2.7rem;
				text-shadow: #080808 4px 0 12px;
			}

			&-check {
				position: absolute;
				bottom: 30px;
				right: 30px;
				padding: 0.8em 1.6em;
				background-color: $dark;

				i {
					margin-right: 0.3em;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-image: $dark-gradient-solid;
			transform: rotateY(180deg);
			opacity: 0;
			transition: transform 1s, opacity 1s;

			&-title {
				@include albumStyle;
				top: 0;
				width: 100%;
				padding: 1em;
				font-size: 2.7rem;
			}

			&-text {
				margin: 0 auto;
				padding: 1em;
				width: 70%;
				list-style-type: none;

				&-item {
					padding: 1em;
					border-bottom: 1px solid $light-white;
				}
			}
			&-button {
				@include albumStyle;
				width: 80%;
				bottom: 2em;
				padding: 1em 2em;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 1.6rem;
				color: $dark;
				border: none;
				background-color: $pure-white;
				cursor: pointer;

				&::before {
					background-color: $light-white;
				}
			}
		}
	}
}

.band {
	position: relative;
	@include heroImg('../img/bring-me-the-horizon.jpg');

	.section-heading {
		color: $light-white;
	}

	&__option {
		margin: 2em 0;
		background-color: $light-white;
		box-shadow: 10px 5px 5px rgba(46, 46, 46, 0.18);
		overflow: hidden;

		&-img {
			width: 100%;
			overflow: hidden;
		}
		&-info {
			width: 100%;
			padding: 2em;
			z-index: 1;
			&-title {
				font-size: 2.6rem;
			}
			&-text {
				margin: 0.8em 0;
			}
			&-btn {
				display: block;
				margin: 0 auto;
				width: 100%;
				padding: 1em 2em;
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
				font-size: 1.6rem;
				color: $pure-white;
				border: none;
				background-color: $dark;
				cursor: pointer;

				&::before {
					background-color: $secondary-color;
				}
			}
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		z-index: 0;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.merch {
	&__boxes {
		display: flex;
		flex-direction: row;
		&-btn {
			margin-top: 2em;
			bottom: 1em;
			padding: 0.5em 1em;
			width: 100%;
			font-size: 2rem;
			text-decoration: none;
			text-align: center;
			background-color: none;
			border: none;
			background-color: $main-color;
			color: $light-white;
			text-transform: uppercase;
			cursor: pointer;

			&::before {
				background-color: $secondary-color;
			}
		}
	}
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		width: 50%;
		height: 50%;
		box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);

		&-img {
			position: absolute;
			top: 10%;
			left: 80%;
			transform: translate(-50%, -50%);

			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		&-info {
			padding: 1em;
		}
		&-text {
			padding: 0.5em;
		}
		&-user {
			padding: 0.5em;
			font-weight: bold;
		}
	}
}

.newsletter {
	position: relative;
	background-color: $light-white;
	overflow: hidden;

	.whiteblock-left {
		background-color: $dark;
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__form-label {
		margin: 0.5em 0;
		font-size: 1em;
		text-transform: uppercase;
		color: $dark;
	}
	&__form-input {
		@include newsletterForm;
	}
	&__form-textarea {
		@include newsletterForm;
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		max-height: 300px;
	}

	&__form-btn {
		align-self: flex-end;
		max-width: 200px;
		border: none;
		width: 100%;
		padding: 1em 2em;
		text-transform: uppercase;
		font-size: 1.8rem;
		color: $light-white;
		background-color: $main-color;
		cursor: pointer;

		&::before {
			background-color: $secondary-color;
		}
	}
}

.footer {
	background-color: $dark;
	color: $light-white;

	&__box {
		padding: 2em;

		&-title {
			margin-bottom: 1em;

			i {
				padding-right: 0.5em;
			}
		}

		&-text {
			margin-bottom: 0.5em;
		}

		&-social {
			margin: 2em 0 1em;
		}

		&-link {
			padding: 0.3em;
			font-size: 3rem;
			color: $light-white;
			text-decoration: none;

			&:first-child {
				padding-left: 0;
			}
		}
	}

	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
}

// MEDIA

@media (min-width: 768px) {
	.news {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-info {
				width: 50%;
				margin: 2em;

				&--right {
					text-align: right;
				}
			}

			&-img {
				width: 50%;

				&--right {
					order: 1;
				}
			}
		}

		&__img {
			height: 100%;
			background-position: center;
			background-size: cover;
		}
	}
	.tour {
		&__heading {
			margin-bottom: 1em;
			font-size: 4em;
		}
	}
	.album {
		&__boxes {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__box {
			margin: 1em;
			width: 60%;
		}
	}
	.band {
		&__option {
			display: flex;
			margin: 2em 0;
			width: 100%;

			&-img {
				width: 50%;

				&--right {
					order: 1;
				}
			}
			&-info {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				width: 50%;
			}
		}
		&__btn {
			display: inline-block;
			margin: 4rem auto;
			// width: 90%;
			bottom: 2em;
			padding: 1em 2em;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			font-size: 1.6rem;
			color: $pure-white;
			border: none;
			background-color: $dark;
			cursor: pointer;

			&::before {
				background-color: $secondary-color;
			}
		}
	}
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}
		&__box-desktop {
			display: block;
		}
		&__box {
			width: 30%;

			&-link {
				font-size: 3rem;
				cursor: pointer;
				transition: color 0.3s;

				&:hover {
					color: white;
				}
			}

			&-title {
				margin-bottom: 0.5em;
			}
			&-list {
				list-style-type: none;

				&-item {
					padding: 0.25em 0;
					cursor: pointer;
					transition: color 0.3s;

					&:hover {
						color: white;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__text {
			font-size: 1.4em;
		}
	}
	.album {
		&__box {
			&-img-title {
				font-size: 2.5rem;
			}
			&-info-title {
				font-size: 2.5rem;
			}
		}
	}
	.footer {
		&__box-desktop {
			display: none;
		}
	}
	.nav {
		&__item {
			&::before {
				margin-left: 20px;
			}
		}
	}
}
@media (min-width: 992px) {
	.album {
		&__box {
			width: 45%;
		}
	}
	.header {
		&__title {
			font-size: 4em;
		}
	}
}
@media (min-width: 1100px) {
	.album {
		&__box {
			width: 30%;
		}
	}
}
